<div class="data-form">
    <form action="/users/create" method="POST">
        <ul>
            <il>
                <label for="inputFirstName">Full Name</label>
                <input type="text" name="fullname" id="inputFirstName" placeholder="First" autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" placeholder="Password" required>
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
                </li>
        </ul>
        <button type="submit">Sign in</button>
    </form>
</div>