<div class="flashes">
    <% if (flashMessages) { %>
    <% if (flashMessages.success) { %>
   <div class="flash success"><%= flashMessages.success %></div>
    <% } else if (flashMessages.error) { %>
   <div class="flash error"><%= flashMessages.error %></div>
   <% } %>
   <% } %>
   </div>
<h1>Success created a user</h1>